name: Swift

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build_xcode_latest:
    runs-on: macos-26

    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - uses: actions/checkout@v4
      - name: Build TGCardVC
        run: xcodebuild -workspace . -scheme TGCardViewController -destination 'platform=iOS Simulator,name=iPhone 17'

  build_xcode_previous:
    runs-on: macos-15
    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - uses: actions/checkout@v4
      - name: Build TGCardVC
        run: xcodebuild -workspace . -scheme TGCardViewController -destination 'platform=iOS Simulator,name=iPhone 16'

  examples:
    runs-on: macos-15

    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - uses: actions/checkout@v4
      - name: Build Example
        run: |
          cd Example
          xcodebuild build -scheme 'Example' -destination 'platform=iOS Simulator,name=iPhone 16'
